*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --main-color : #8c061b;
    --second-color: #F2EBE9;
    --trd-color: #A5BECC;
    --text-color : #CC1414;
    --liner: linear-gradient(90deg, rgba(2,0,36,0) 5%, rgba(121,9,9,1) 50%, rgba(0,212,255,0.0578606442577031) 95%);
    --h1: linear-gradient(90deg, rgba(2,0,36,0) 5%, rgb(255, 255, 255) 50%, rgba(0,212,255,0.0578606442577031) 95%);
}

body {
    font-family: 'Montserrat', sans-serif;
    cursor: none;
    background-image: url(/img/landingbg-1.webp);
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style: none;
}

a {
    cursor: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body .cursor {
    /* cursor: none; */
    position: absolute;
    width: 50px;
    transform: translate(-20%, -20%);
    pointer-events: none;
    z-index: 2;
}

hr {
    width: 100%;
    background-image: var(--h1);
    height: .5em;
    border: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: var(--liner);
    height: 70px;
    width: 100%;
    z-index: 1;
}

nav .logo img {
    width: 69px;
}

nav .logo h1 {
    font-weight: 600;
}

nav .nav-links {
    height: inherit;
}

nav .nav-links li {
    padding: 0px 10px;
    height: inherit;
    font-weight: 700;
}

nav .nav-links li:hover {
    background-color: var(--main-color);
    color: var(--second-color);
}

.landing {
    background-image: url(/img/landsiteimg.webp);
    height: 100vh;
    background-size: 100% 100%;
}

.content {
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.content .social li{
    transition: all ease-in-out .5s;
}

.content .social li img{
    width: 50px;
    margin: 10px;
}
.content .social li:hover {
    transform: scale(1.5);
}

.content .social li .face {
    width: 60px;
}



section .header {
    background-image: var(--liner);
    color: var(--second-color);
    padding: 10px;
}



section .right-section,
section .left-section {
    font-size: 35px;
    color: var(--second-color);
    padding-top: 2em;
    padding-left: 2em;
    width: 45%;
}

section .left-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .right-section span {
    color: #D30000;
}

.content .right-section .social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.content .right-section .social button {
    width: 8em;
    padding: .5em;
    margin: 1em 0px;
    border-radius: .5em;
    font-weight: bold;
    border: 1px solid white;
    cursor: none;
    color: var(--second-color);
}

.head-skill {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.head-skill::before {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 20%;
    height: 5px;
    background: var(--h1);
    border-radius: 10px;
    transition: all ease-in-out .5s;
}

.head-skill:hover::before {
    width: 50%;
}

.content p {
    color: var(--second-color);
    font-size: 35px;
    padding-top: 1em;
}

.left-section .ele {
    width: 6em;
    height: 10em;
}

.left-section  .eleone { transform: translate(50%, 0%); }
.left-section .eletwo {z-index: 1;}
.left-section  .eleThree { transform: translate(-50%, 0%);}

.left-section .ele img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}


.left-section .ranks-sec,
.left-section .skills-sec {
    display: flex;
    flex-wrap: wrap;
}

.left-section .ranks-sec li,
.left-section .skills-sec li  {
    width: calc(95% / 2);
    height: 5em;
    margin: 5px;
    border-radius: 10px;
}

.left-section .ranks-sec li img{
    width: inherit;
}

.left-section .skills-sec li img {
    width: 175px;
    height: 175px;
    border-radius: 30px;
}


@media (max-width: 800px) {

    .landing {
        height: 80vh;
        background-size: 100% 100%;
        background-image: url(/img/landcenterbg.webp);
        position: relative;
    }

    .landing h1 {
        text-align: center;
        position: absolute;
        top: 60%;
        transform: translate(0%, -50%);
        animation: color-change 5s infinite;
    }

    @keyframes color-change {
        0% {
            color: #ffffff00;
        }
        50% {
            color: white;
        }
        100% {
            color: #ffffff00;
        }
    }

    .social {
        position: absolute;
        bottom: 0;
    }

    .content {
        display: block;
        padding: 1em;
    }

    .content .right-section, 
    .content .left-section {
        width: 100%;
        padding: 10px;
    }
}
